body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Display', serif;
  margin-bottom: 25px;
  margin-top: 25px;
}


p, h4, h6 {
  color: #95A9C6;

}

button {
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Top navigation */
.navbar {
  background-color: #fff;
  color: #0b0814;
  padding: 1% 10%;
  position: relative;
  z-index: 2;
}

.container-fluid {
  padding: 7% 10%;
}

.nav-item {
  margin-right: 0;
  padding: 10px;
  margin-left: 20px;
  text-transform: uppercase;
}

.btn {
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-outline-secondary:hover {
  background-color: #32253C;
}

/* Title section */
#title {
  background-color: #32253C;
}

.row-border {
  border-top: 1px solid #fff;
  width: 30%;
}

.big-heading {
  font-size: 4.5rem;
  padding: 35px 0;
  letter-spacing: 0.9;
  line-height: 0.9;
}

.top-subtitle {
  color: #fff;
  margin-bottom: 25px;
}

.title-img {
  position: absolute;
  margin: 0;
}

.bg-pattern-left-desktop {
  position: absolute;
  top: 550px;
}

.bg-pattern-right-desktop {
  position: absolute;
  right: 0;
  top: 50px;
}

/* Middle section */
#middle-section {
  padding-top: 250px;
}

#middle-section .container-fluid {
  padding-bottom: 50px;
}

.row-border-dark {
  border-top: 1px solid #000;
  width: 15%;
}

.top-subtitle-dark {
  color: #000;
  margin-bottom: 25px;
}

/* Features section */
#features .container-fluid {
  padding-top: 0;
}

.features-img {
  margin-bottom: 25px;
}

/* Bottom section */
#bottom-section .containe-fluid {
  padding: 7% 10%;
  margin: auto;
  text-align: center;
}

.bottom-rectangle {
  background-color: #32253C;
  text-align: center;
  position: relative;
}

.bottom-section-text {
  font-size: 3.5rem;
  color: #fff;
  padding: 40px;
  text-align: left;
  line-height: 0.9;
}

.bottom-section-btn {
  margin-top: 20%;
  margin-left: 0;
  text-align: center;
}

.how-we-work-bg {
  position: absolute;
  right: 0;
  height: 100%;
}

.how-we-work-bg-mob {
  display: none;
}

.how-we-work-button {
  padding-right: 0;
  padding-left: 30px;
}

/* Footer section */
.card {
  border: none;
  background-color: inherit;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
}

.card-text {
  color: #000;
  font-weight: bold;
}

.card-text:nth-child(2) {
  padding-top: 20px;
}

.card-body {
  padding-left: 0;
}

#footer {
  background-color: #FAFAFA;
  position: relative;
  z-index: 3;
}

#footer .container-fluid {
  padding: 3% 10%;
}

#footer h4 {
  text-transform: uppercase;
  font-size: 1rem;
}
.img-footer-style
{
  position: absolute; z-index: 4; margin-top: 40px;
}

.footer-navbar {
  background-color: #FAFAFA;
  padding: 30px 0;
  border-bottom: 1px solid #95A9C6;
  position: relative;
  z-index: 1;
}

.footer-navbrand {
position: relative;
z-index: 2;
}

.bg-pattern-footer {
  position: absolute;
  z-index: 2;
  left: 0;
}

.bg-pattern-footer-mob {
  display: none;
}


.icon-footer {
  padding: 0;
}

.attribution {
  text-align: center;
  padding: 25px;
}

@media screen and (max-width: 991px)

/* MOBILE DESIGN */
  {
  body {
    text-align: center;
  }

  .container-fluid {
    padding: 0 0;
    margin: 0;
  }

  .navbar {
    background-color: #fff;
    color: #0b0814;
    padding: 1% 10%;
    position: static;
  }

  /* Mobile title section */
  .title-img {
    position: relative;
    src: url("images/image-intro-mobile.jpg");
    width: 100%;
    z-index: 2;
  }

  .nr1 {
    order: 2;
    padding: 60px 60px;
  }

  .nr2 {
    order: 1;
    padding: 0;
  }

  .row-border
  {
    display: none;
  }

  .big-heading {
    font-size: 3rem;
    padding: 15px 15px;
    letter-spacing: 0.9;
    line-height: 0.9;
  }

  .bg-pattern-left-desktop {
    position: absolute;
    top: 550px;
    left: 0;
    z-index: 0;
    /* display: none; */
  }

  .bg-pattern-right-desktop {
    position: absolute;
    right: 0;
    top: 50px;
    display: none;
  }

  /* mobile middle section */
  #middle-section {
    padding-top: 150px;
  }

  #middle-section .container-fluid {
    padding: 0;
  }

  .middle-sect-text {
    margin: 0 auto;
  }

  .mobile-features {
    text-align: center;
    padding: 60px;
  }

  .mobile-features-space {
    margin-bottom: 50px;
  }

  /* mobile bottom section */
  #bottom-section .container-fluid {
    padding: 10% 10% 30% 10%;
    background-color: #fff;
  }

  #bottom-section button {
    padding-left: 40px;
    padding-right: 40px;
  }

  .middle-mobile-text {
    text-align: center;
  }

  .bottom-section-text {
    text-align: center;
    font-size: 3rem;
    padding: 0;
    line-height: 0.9;
    margin-top: 20%;
  }

  .bottom-section-btn {
    margin-top: 15px;
    margin-bottom: 20%;
  }

  .how-we-work-bg {
    display: none;
  }

  .how-we-work-bg-mob {
    display: inline;
    position: absolute;
    right: 0;
  }

  .how-we-work-button {
    padding-left: 0;
  }

  .bottom-rectangle {
    background-color: #32253C;
    text-align: center;
    position: relative;
    padding: 0;
    margin: 0;
  }

  .card-body {
    padding-left: inherit;
  }

  /* mobile footer section */
  #footer .container-fluid {
    padding: 0;
  }

  #footer nav {
    padding: 0;
    margin: 0;
  }

  .img-footer-style
  {
    position: relative;
    z-index: 3;
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .bg-pattern-footer {
    display: none;
  }

  .bg-pattern-footer-mob {
    display: inline;
    position: absolute;
    z-index: 1;
    left: 0;
  }

  .test1 {
    z-index: 2;
  }

  .row-border-footer {
    border-top: 1px solid #95A9C6;
    width: 80%;
    margin: 30px auto;
  }

  .footer-navbar {
    border-bottom: none;
    background-color: #FAFAFA;
  }

  .footer-navbrand {
    padding-top: 15%;
    padding-bottom: 5%;
  }

  .attribution {
    font-size: 0.8rem;
    background-color:  #FAFAFA;
  }

  div.row {
    margin-right: 0;
  }
}
